/* Reset some default styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: visible; /* Add vertical scrollbar to the entire page */
}

body {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

h1 {
    color: #ff5733;
}

/* Form styling */
#mainForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    max-width: 60%;
}

#mainForm select,
#mainForm input[type="number"],
#mainForm button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#mainForm button {
    margin: 0;
}

#mainForm input[type="number"] {
    width: 95%;
}

#mainForm select {
    background-color: #f9f9f9;
}

#mainForm input[type="checkbox"] {
    display: inline;
}

#mainForm label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

#mainForm button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#mainForm button:hover {
    background-color: #e54928;
}

/* Result container */
#result {
    flex-grow: 1; /* Take up all available vertical space */
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    #mainForm {
        width: 90%;
        margin: 20px auto;
    }
}

p {
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height for better readability */
    margin: 10px 0; /* Add some margin for spacing */
    color: #333; /* Text color */
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#checkoutForm {
    /* Existing styles for the form container */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-top: 20px;
    min-width: 40%;
    height: 89%;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Vertically space children */
}

#checkoutForm button,
#restartButton {
    background-color: #ff5733;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-buttons {
    display: flex;
    justify-content: center; /* Center horizontally */
}

#checkoutForm h1 {
    color: #ff5733;
    font-size: 24px;
    margin-bottom: 20px;
}


#checkoutForm button:hover {
    background-color: #e54928;
}

/* Center the checkout form on smaller screens */
@media (max-width: 600px) {
    #checkoutForm {
        width: 90%;
        margin: 20px auto;
    }
}

/* Styles for the list */
#bebidasList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bebidasList li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

#bebidasList li span {
    font-weight: bold;
    margin-right: 10px;
}

#bebidasList button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#bebidasList button:hover {
    background-color: #e54928;
}

.register-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.register-info {
    flex: 1; /* Grow to fill available space */
}

.register-actions {
    margin-left: 10px;
    display: flex;
    gap: 5px; /* Adjust the gap between buttons */
}

.sectionDivider {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    padding-top: 5px;
}